<!doctype html>
<html class="bg-slate-900 text-slate-200 mx-auto">

<head>
  <meta charset="UTF-8">
  <title>Ryan Miville</title>
  <link rel="apple-touch-icon" sizes="180x180" href="/public/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/public/favicon/favicon-16x16.png">
  <link rel="manifest" href="/public/favicon/site.webmanifest">
  <meta name="description" content="Web developer and data engineer."/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/global.css" rel="stylesheet">
  <script src="https://unpkg.com/htmx.org@1.9.4"
    integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV"
    crossorigin="anonymous"></script>
</head>

<body>
  {% include "partials/navigation.html" %}
  <main class="max-w-5xl lg:mx-auto">
    {% block content %}
    {% endblock %}
  </main>
</body>

</html>