---
import Layout from "@/layouts/Layout.astro";

import { getCollection, type CollectionEntry } from "astro:content";

export const prerender = true;

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: entry,
  }));
}
// 2. For your template, you can get the entry directly from the prop
type Props = CollectionEntry<"blog">;
const entry = Astro.props;
const { Content } = await entry.render();
const { title, description } = entry.data;
---

<Layout title={title} description={description}>
  <article class="prose prose-stone dark:prose-invert">
    <h1 transition:name={title}>{title}</h1>
    <Content />
  </article>
</Layout>
