@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
		--accent-purple:hsl(228.6 62.5% 68.63%);
		--accent-purple-500:hsl(228.6 62.5% 55.63%);
		--accent-green: hsl(138.6 62.5% 68.63%);
		--accent-pink: hsl(348.6 62.5% 68.63%);
		--accent-pink-2: hsl(318.6 62.5% 68.63%);
		--accent-yellow: hsl(49.8 62.5% 68.63%);

    --background: theme('colors.rose.50');
    --foreground: hsl(20 14.3% 4.1%);
    --card: theme('colors.stone.50');
    --card-foreground: hsl(20 14.3% 4.1%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(20 14.3% 4.1%);
    --primary: var(--accent-purple);
    --primary-foreground: hsl(60 9.1% 97.8%);
    --secondary: hsl(60 4.8% 95.9%);
    --secondary-foreground: hsl(24 9.8% 10%);
    --muted: hsl(60 4.8% 95.9%);
    --muted-foreground: hsl(25 5.3% 44.7%);
    --accent: hsl(60 4.8% 95.9%);
    --accent-foreground: hsl(24 9.8% 10%);
    --destructive: var(--accent-pink);
    --destructive-foreground: hsl(60 9.1% 97.8%);
    --border: hsl(0 0% 0%);
    --input: hsl(20 5.9% 90%);
    --ring: var(--accent-green);
    --radius: 0.0rem;
  }

  .dark {
    --background: theme('colors.zinc.900');
    --foreground: hsl(60 9.1% 97.8%);
    --card: theme('colors.zinc.700');
    --card-foreground: hsl(60 9.1% 97.8%);
    --popover: hsl(20 14.3% 4.1%);
    --popover-foreground: hsl(60 9.1% 97.8%);
    --primary-foreground: hsl(24 9.8% 10%);
    --secondary: hsl(12 6.5% 15.1%);
    --secondary-foreground: hsl(60 9.1% 97.8%);
    --muted: hsl(12 6.5% 15.1%);
    --muted-foreground: hsl(24 5.4% 63.9%);
    --accent: hsl(12 6.5% 15.1%);
    --accent-foreground: hsl(60 9.1% 97.8%);
    --destructive-foreground: hsl(60 9.1% 97.8%);
    --input: hsl(12 6.5% 15.1%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground overflow-y-scroll;
  }
}