---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Ryan Miville";
const description = "Web developer and data engineer.";
const permalink = Astro.site!.href;
---

<BaseLayout title={title} description={description} permalink={permalink}>
  <div
    class="flex-col md:flex-row items-center flex justify-center my-8 min-h-[400px]"
  >
    <div class="pb-8 text-center md:flex-1 md:px-4">
      <p class="font-mono font-semibold text-2xl">Hi, I&apos;m</p>
      <h1
        class="text-7xl bg-clip-text text-transparent bg-gradient-to-r from-purple-400 to-orange-200 font-bold inline-block"
      >
        Ryan Miville
      </h1>
      <p class="text-4xl font-semibold">
        Backend Web Developer and Data Engineer
      </p>
    </div>
  </div>
</BaseLayout>
