---
import Layout from "@/layouts/Layout.astro";
const title = "Ryan Miville";
const description = "Web developer and data engineer.";
---

<Layout title={title} description={description}>
  <h1 class="text-3xl">Hello from index</h1>
</Layout>
