---
import {
  Card,
  CardContent,
  CardDescription,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
import { cn } from "@/lib/utils";

type Props = {
  post: {
    data: {
      title: string;
      description: string;
      publishDate: Date;
    };
  };
  className?: string;
};

const {
  post: { data },
  className,
}: Props = Astro.props;
---

<Card className={cn("mb-4", className)}>
  <CardHeader>
    <CardTitle>
      <span transition:name={data.title}>{data.title}</span>
    </CardTitle>
    <CardDescription>
      {data.publishDate.toDateString()}
    </CardDescription>
  </CardHeader>
  <CardContent>
    <p>{data.description}</p>
  </CardContent>
</Card>
