---
import ThemeIcon from "./ThemeIcon.astro";
---

<nav class="w-full relative flex items-center justify-between py-5">
  <a href="/" class="text-3xl font-bold">
    Ryan<span class="text-teal-400">Miville</span>
  </a>
  <ThemeIcon />
</nav>
