---
import ThemeToggle from "./ThemeToggle.astro";
---

<nav class="w-full relative flex items-center justify-between py-5">
  <a href="/" class="text-3xl font-bold">
    Ryan<span class="text-primary">Miville</span>
  </a>
  <ThemeToggle />
</nav>
