---
import { ModeToggle } from "./ModeToggle";
---

<nav
  class="w-full relative flex items-center justify-between max-w-2xl mx-auto px-4 py-5"
>
  <a href="/" class="text-3xl font-bold">
    Ryan<span class="text-primary">Miville</span>
  </a>
  <ModeToggle client:load />
</nav>
