---
import type { CollectionEntry } from "astro:content";

export interface Props {
  frontmatter: CollectionEntry<"projects">["data"];
}

const { frontmatter } = Astro.props;
const { title, description, demoURL, repoURL } = frontmatter;
---

<li class="my-6">
  <div class="inline-block text-lg font-medium text-skin-accent">
    <h3>{title}</h3>
  </div>
  <br />
  <div class="flex flex-row text-sm opacity-80">
    {
      demoURL && (
        <>
          <a href={demoURL} class="italic decoration-dashed hover:underline">
            site
          </a>
          <span>&nbsp;|&nbsp;</span>
        </>
      )
    }

    <a href={repoURL} class="italic decoration-dashed hover:underline">
      repo
    </a>
  </div>
  <p class="pt-2">{description}</p>
</li>
