---
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "Projects";
const description = "Some of my open source projects.";
const permalink = `${Astro.site!.href}projects`;
---

<BaseLayout
  title={title}
  description={description}
  permalink={permalink}
  current="projects"
>
  <div class="container prose dark:prose-invert">
    <h1>Projects</h1>
  </div>
</BaseLayout>
