---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import ProjectCard from "@components/ProjectCard.astro";
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import { getCollection } from "astro:content";

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={`Projects | ${SITE.title}`}>
  <Header activeNav="projects" />
  <Main pageTitle="Projects" pageDesc="Some of my side projects.">
    <ul>
      {projects.map(entry => <ProjectCard frontmatter={entry.data} />)}
    </ul>
  </Main>

  <Footer />
</Layout>
