---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

export interface Props {
  title: string;
  description: string;
  permalink: string;
  current?: string;
}
const { title, description, permalink, current } = Astro.props;
---

<html lang="en" class="overflow-y-auto">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} />
  </head>
  <body class="bg-[--bg] text-[--text] m-0 text-sm sm:text-base">
    <div class="flex flex-col min-h-full min-h-screen">
      <Header current={current} />

      <main
        class="flex-1 relative mx-auto max-w-7xl px-4 box-border w-full flex flex-col"
      >
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>
